#points span {
  cursor: pointer;
}

.left,
.right {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.box {
  display: flex;
  align-items: center;
}

#points span{
  display: inline-block;
  padding: 10px;
  background-color: red;
  text-align: center;
  color: white;
  border-radius: 7.5px;
  
}